@using PersonRegistry.ViewModels
@model IEnumerable<PersonViewModel>

@{
    ViewBag.Title = "Person Registry";
}

<h2>Person Registry</h2>

<p>@Html.ActionLink("Create New", "Create")</p>

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.FirstName)</th>
        <th>@Html.DisplayNameFor(model => model.Surname)</th>
        <th>@Html.DisplayNameFor(model => model.Street)</th>
        <th>@Html.DisplayNameFor(model => model.City)</th>
    </tr>
@foreach (PersonViewModel person in Model)
{
    <tr>
        <td>@person.FirstName</td>
        <td>@person.Surname</td>
        <td>@person.Street</td>
        <td>@person.City</td>
    </tr>
}
</table>