@using MyMovies.ViewModels
@model MovieViewModel

@{
    ViewBag.Title = @Model.Title;
}

<h2>@Model.Title</h2>

<p>Rating: @Model.Rating</p>
<p>Year: @Model.Year</p>
<p>Cast: @Model.Cast</p>