@using MyMovies.Dal
@model IEnumerable<Movie>

@{
    ViewBag.Title = "Movies";
}

<h2>Movies</h2>

<p>@Html.ActionLink("Create New", "Create")</p>

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(movieTitle => movieTitle.Title)</th>
        <th>@Html.DisplayNameFor(movieTitle => movieTitle.Rating)</th>
        <th />
    </tr>
@foreach (Movie movie in Model)
{
    <tr>
        <td>@movie.Title</td>
        <td>@movie.Rating</td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = movie.Id }) |
            @Html.ActionLink("Details", "Details", new { id = movie.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = movie.Id })
        </td>
    </tr>
}
</table>