@using MyMovies.ViewModels
@model IEnumerable<IndexMovieViewModel>

@{
    ViewBag.Title = "Movies";
}

<h2>Movies</h2>

<p>@Html.ActionLink("Create New", "Create")</p>

@using (Html.BeginForm())
{
    <p>
        @Html.DropDownList("GenreFilter", ViewBag.Genre as IEnumerable<SelectListItem>)
        <input type="submit" value="Filter" />
    </p>
}

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Title)</th>
        <th>@Html.DisplayNameFor(model => model.Rating)</th>
        <th>@Html.DisplayNameFor(model => model.Genre)</th>
        <th />
    </tr>
    @foreach (IndexMovieViewModel movie in Model)
    {
        <tr>
            <td>@movie.Title</td>
            <td>@movie.Rating</td>
            <td>@movie.Genre</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = movie.Id }) |
                @Html.ActionLink("Details", "Details", new { id = movie.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = movie.Id })
            </td>
        </tr>
    }
</table>