@using Advertisements.ViewModels
@model CreateAdvertisementViewModel

<script src="~/Scripts/advertisements.js"></script>
<script src="~/Scripts/validation.js"></script>

@{
    ViewBag.Title = "Create Advertisement";
}

<h2>Create Advertisement</h2>

@using (Html.BeginForm("GetSubscriber", "Advertisements", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary(false)

    <div class="form-group">
        <div id="subscriberradio" class="radio">
            <label class="control-label col-sm-2" for="subscriptionnumbertext">
                <input type="radio" name="advertisertype" checked> Subscriber
            </label>
            <div class="col-sm-10">
                @Html.TextBoxFor(model => model.SubscriptionNumber, new { @class = "form-control", id = "subscriptionnumbertext", placeholder = "Subscription number" })
                <input type="submit" id="subscriptionnumberbutton" class="btn btn-default" value="Get" />
            </div>
        </div>
    </div>

    <div class="form-group">
        <div id="companyradio" class="radio">
            <label class="control-label col-sm-2" for="advertisertype">
                <input type="radio" name="advertisertype"> Company
            </label>
        </div>
    </div>
}

@using (Html.BeginForm("AddSubscriberAdvertisement", "Advertisements", FormMethod.Post, new { @class = "form-horizontal", id = "subscriberinput" }))
{
    <div class="form-group">
        @Html.LabelFor(model => model.FirstName, new { @class = "col-sm-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Surname, new { @class = "col-sm-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.PhoneNumber, new { @class = "col-sm-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Street, new { @class = "col-sm-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Street, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.PostalCode, new { @class = "col-sm-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PostalCode, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.City, new { @class = "col-sm-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
}

@using (Html.BeginForm("AddCompanyAdvertisement", "Advertisements", FormMethod.Post, new { @class = "form-horizontal", id = "companyinput" }))
{
    <div class="form-group">
        @Html.LabelFor(model => model.Name, new { @class = "col-sm-2 control-label"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" }})
        </div>
    </div>
}