@using Advertisements.ViewModels
@model AdvertisementViewModel

@{
    ViewBag.Title = @Model.Title;
}

<h2>@Model.Title</h2>

<p>
    @Html.DisplayTextFor(model => model.Content)
</p>

<p>
    Prince: @Html.DisplayTextFor(model => model.Price)    
</p>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>